# Django
*.pyc
__pycache__/
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.env.local
.env.*.local
venv/
.venv/
env/
ENV/

# IDEs/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
